#Page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: table;
  /* border: 1px #00ffff solid; */
  overflow-x: hidden;
}

#Left_Panel {
  float: left;
  min-width: 25%;  
}

.Splitter_Div {
  max-width: 250px;
  /* display: inline; */
  
}
/* Also splitter div */
#Label_Div {
  margin-left: 50%;
  bottom: 90px;
  position: relative;
}

.Main_Button{
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  width: 50%;
  display: block;
}

.Main_Button:hover{
  background-color: #16b8b8;
}

.Main_Button:disabled, .T2_R:disabled  {
  background-color: #b81616;
  color: black; 
}
.Button_Label {
  color: #57626d;
  border: black 1px solid;
  display: block;
  margin-bottom: 30px;
}

#UL1, #UL1_label {
  visibility: hidden;
}

#UL2 {
  display: none;
}

#Top_Panel {
  text-align: center;
  border-bottom: black 2px solid;
  margin-bottom: 10px;
}
#TS1 {
  float: left;
  /* border: 1px #00ffff solid; */

}

.GameDropdown_Span {
  margin-right: 12%;
  float: right;
}

#OverflowMenu {
  background-color: #16b8b8;
  font-size: 14px;
}

#Export_div {
  visibility: hidden;
  background-color: #57626dcb;
  border: 1px #00AAAA solid;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

#Right_Panel {
  visibility: hidden;
  position:absolute;
  min-width: 700px;
  max-width: 1340px;
  left: 25%;
}

.PAN_LAB {
  color: #57626d;
  font-size: 15pt;
  padding-bottom: 2px;
}

.Tab {
  width: 32%;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 35px;
} 

.Tab:hover {
  background-color: #16b8b8;
}

#Tab_2 {
  /* border: black 1px solid; */
  position: relative;
  min-width: 50%;
  display: inline-table;
  table-layout: fixed;
  /* border: 2px #00ffff solid; */

}
#Tab2_Label {
  display: table-caption;
  width: 100%;
}
#Tab2_Buttons {
  display: table-cell;
  min-width: 50%;
  max-width: 50%;

}
#RightSide {
  display: table-cell;
  min-width: 50%;
  max-width: 50%;
  /* visibility: hidden; */
}

.T2_RL {
  width: 40%;
  float: right;
}

.T2_R, .T2_L, .T3, .other_Button {
  position: relative;
  padding: 10px 20px;
  margin-top: 10px;
  width:99%;
  display: block;
  border:none;
  animation-duration: 0ms;
}
 #T2_1B, #T2_2B {
   animation-duration: 0ms; 
} 
#T2_1B:hover, #T2_2B:hover, .T2_R:hover, .T3:hover, .IA_Button:hover, #export_button:hover {
  background-color: #16b8b8;
}
#T2_1B:disabled, #T2_2B:disabled {
  background-color: #b81616;
  color: black;
}
.T2_OT {
  float:right;
  position: relative;
}

#T3_1, #T3_2 {
  display: none;
}

.export {
  opacity: 1;
}
#export_button {
  border: none;
}
#export_container {
  background: white;
  width:50%;
  margin-left: 25%;
}
#exP {
  margin-top: 20%;
  width:auto;
  background: white;
}
.Bottom_Panel {
  display: table-row;
  vertical-align: bottom;
  height: 1px;
  border: 2px #AAAAAA solid;
}

#Popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 10% 10% 10% 15%; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50%;
  width: 50%;
  border: #ff00ff 1px solid;
  background-color: #00AAAA;
}

.Popup_Content {
  border: #57626d 1px solid;
  overflow: auto;
  font-size: 15pt;
  padding-top: 5px;
}
.close {
  position: absolute;
  font-size: 17pt;
  border-bottom: red thick;
  top: 0%;
  right: 0%;
  margin: 0;
  cursor: pointer;
}
.Header, #Header_Text {
  position: absolute;
  float: left;
  background-color: #d14848;
  width: 100%;
  top: 0%;
}

#InnerAscent {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #57626d8c;
}
#IA_Container {
  /* positsion: relative; */
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: 25% 25% 25% 25%;
  width: 75%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  border: 5px solid black;  
  border: 2px solid grey;
  background: white;
}

#IA_Header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 2px solid black;
}

#IA_C1L {
  overflow:auto;
  grid-column-start: 1;
  grid-column-end: 2;
}
#IA_C1R {
  grid-column-start: 2;
  grid-column-end: 3;
  overflow:auto;

}
#IA_C2L {
  grid-column-start: 3;
  grid-column-end: 4;
  overflow:auto;

}
#IA_C2R {
  grid-column-start: 4;
  grid-column-end: 5;
  overflow:auto;

}
#IA_Footer {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  border-top: 2px solid black;
}

#IA_ButtonDiv {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  border-left: 2px black solid;
}

.IA_Button {
  border:none;
  width:48%;
  height:95%;
  margin-top:2px;
  margin-left: 0px;
  margin-right: 0px;
  display:inline-block;
}

#IA_Decline:hover {
  background-color: #b81616;
}
/* Tooltips */

@keyframes fadein {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}