#Page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: table;
  /* border: 1px #00ffff solid; */
  overflow-x: hidden;
}

#Left_Panel {
  border-right: 1px #ff00ff solid;
  float: left;
  min-width: 25%;  
}

.Splitter_Div {
  max-width: 250px;
  /* display: inline; */
  
}
/* Also splitter div */
#Label_Div {
  border: 2px #00ffff solid;
  margin-left: 50%;
  bottom: 90px;
  position: relative;
}

.Main_Button{
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  width: 50%;
  display: block;
}

.Main_Button:hover{
  background-color: #16b8b8;
}

.Main_Button:disabled {
  background-color: #b81616;
  color: black; 
}
.Button_Label {
  color: #57626d;
  border: black 1px solid;
  display: block;
  margin-bottom: 30px;
}

#UL1, #UL1_label {
  visibility: hidden;
}

#Top_Panel {
  text-align: center;
  border-bottom: black 2px solid;
}
#TS1 {
  float: left;
  /* border: 1px #00ffff solid; */

}

.GameDropdown_Span {
  margin-right: 12%;
  float: right;
}

#OverflowMenu {
  background-color: #16b8b8;
  font-size: 14px;
}

#Export_div {
  visibility: hidden;
  background-color: #747373;
  border: 1px #00AAAA solid;
  text-align: center;
  z-index: 1;
  position: absolute;
  /* min-width: 1340px;
  max-width:1340px;
  height: 500px;
  padding-top: 240px; */
  top: 0px;
  height: 100%;
  width: 100%;
}

#Right_Panel {
  visibility: hidden;
  position:absolute;
  min-width: 700px;
  max-width: 1340px;
  left: 25%;
  border-right: 1px #ff00ff solid;
  border-left: 1px #ff00ff solid;
}

.T2_R {
  float: right;
}
.PAN_LAB {
  color: #57626d;
  font-size: 15pt;
  padding-bottom: 2px;
}

.Tab {
  width: 32%;
  padding: 0px;
  margin: 0px;
  height: 26px;
  border: none;
} 

.Tab:hover {
  background-color: #16b8b8;
}


#Tab_2 {
  /* border: black 1px solid; */
  position: relative;
  min-width: 75%;
  float: left;
  /* border: 2px #00ffff solid; */

}

#T2_1B, #T2_2B {
  padding: 10px 20px;
  margin-bottom: 10px;
  width:50%;
  display: block;
  border:none;
  /* border: 1px #00ffff solid; */
  animation-duration: 0ms;
}
#T2_1B:hover, #T2_2B:hover {
  background-color: #16b8b8;
}
#T2_1B:disabled, #T2_2B:disabled {
  background-color: #b81616;
  color: black;
}
.T2_OT {
  float:right;
  position: relative;
}

.export {
  opacity: 1;
  border: 1px #00ffff solid;

}

.Bottom_Panel {
  display: table-row;
  vertical-align: bottom;
  height: 1px;
  border: 2px #AAAAAA solid;
}

#Popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 10% 10% 10% 15%; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50%;
  width: 50%;
  border: #ff00ff 1px solid;
  background-color: #00AAAA;
}

.Popup_Content {
  border: #57626d 1px solid;
  overflow: auto;
  font-size: 15pt;
  padding-top: 5px;
}
.close {
  position: absolute;
  font-size: 17pt;
  border-bottom: red thick;
  top: 0%;
  right: 0%;
  margin: 0;
}
.Header, #Header_Text {
  position: absolute;
  float: left;
  background-color: #d14848;
  width: 100%;
  top: 0%;
}

/* Tooltips */

@keyframes fadein {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}