#Page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  display: table;
  /* border: 1px #00ffff solid; */
  overflow-x: hidden;
}

#Left_Panel {
  border-right: 1px #ff00ff solid;
  float: left;
  min-width: 500px;  
}
#UL1, #UL1_label {
  visibility: hidden;
  /* border: 1px #00ffff solid; */

  /* display: none; */
}
#Right_Panel {
  margin-top: 5px;
  visibility: hidden;
  position:absolute;
  min-width: 700px;
  max-width: 1340px;
  left:508px;
  border-right: 1px #ff00ff solid;
  border-left: 1px #ff00ff solid;
}
#Label_Div {
  border: 2px #00ffff solid;
  margin-left: 50%;
  bottom: 90px;
  position: relative;
}
#Top_Panel {
  text-align: center;
}
#TS1 {
  float: left;
  /* border: 1px #00ffff solid; */

}
#TS3 {
  float: right;
  margin-right: 5px;
}

#Export_div {
  visibility: hidden;
  background-color: #747373;
  border: 1px #00AAAA solid;
  text-align: center;
  z-index: 1;
  position: absolute;
  /* min-width: 1340px;
  max-width:1340px;
  height: 500px;
  padding-top: 240px; */
  top: 0px;
  height: 100%;
  width: 100%;
}
#T2_1L, #T2_2L {
  position: relative;
  color: #57626d;
  border: black 1px solid; 
}

#T2_1B, #T2_2B {
  padding: 10px 20px;
  margin-bottom: 10px;
  width:100%;
  display: block;
  /* border: 1px #00ffff solid; */

}

#Tab_2 {
  border: black 1px solid;
  max-width: 500px;
  float: left;
  /* border: 2px #00ffff solid; */

}

.GameDropdown_Span {
  border: #ff00ff 1px solid;
  margin-right: 12%;
  float: right;
}
.Splitter_Div {
  max-width: 250px;
  /* display: inline; */
  
}

.Main_Button{
  padding: 10px 20px;
  margin-bottom: 10px;
  display: block;
}

.Button_Label {
  color: #57626d;
  border: black 1px solid;
  display: block;
  margin-bottom: 30px;
}

.export {
  opacity: 1;
  border: 1px #00ffff solid;

}
.PAN_LAB {
  color: #57626d;
  font-size: 15pt;
  padding-bottom: 2px;
}
.T1,.T2,.T3{
  display: block;
}
.Tab {
  margin-bottom: 30px;
}
.Bottom_Panel {
  display: table-row;
  vertical-align: bottom;
  height: 1px;
  border: 2px #AAAAAA solid;

}


/* Tooltips */

@keyframes fadein {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}