#Left_Panel {
  border-right: 1px #ff00ff solid;
  max-width: 500px;
  height: auto;
}
#Label_Div {
  border: 2px #00ffff solid;
  margin-left: 50%;
  bottom: 90px;
  position: relative;
}
#Top_Panel {
  border: 1px black solid;
  text-align: center;
}
#TS1 {
  float: left;
}
#TS3 {
  float: right;
  margin-right: 5px;
}
#Export_div {
  visibility: hidden;
  background-color: #747373;
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 1000px;
  height: 500px;
  padding-top: 240px;
  top: 0px;
}

#UL1, #UL1_label {
  visibility: hidden;
  /* display: none; */
}

.Splitter_Div {
  max-width: 250px;
  /* display: inline; */
}

.Button_Label {
  color: #57626d;
  border: black 1px solid;
  display: block;
  margin-bottom: 30px;

}
.Main_Button {
  padding: 10px 20px;
  margin-bottom: 10px;
  display: block;
}
.export {
  opacity: 1;
}

@keyframes fadein {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}